{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default"> 
                <div class="panel-heading"> 
                    <span class="panel-title"><h1>Ajout Transport</h1></span> 
                </div> 
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="form-group">
                             {{ form_label(form.transit, "Transit", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                             {{ form_errors(form.transit) }}
                             <div class="col-sm-4">
                                {{ form_widget(form.transit, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                             {{ form_label(form.comission, "Comission", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                             {{ form_errors(form.comission) }}
                             <div class="col-sm-4">
                                {{ form_widget(form.comission, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                             {{ form_label(form.dateTransport, "Date de Transport", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                             <div class="col-sm-4">
                                {{ form_widget(form.dateTransport) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.client, "Client", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}
                             </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.camion, "Camion", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.camion, {'attr': {'class': 'form-control'}}) }}
                             </div>
                        </div>
                        <div class="col-sm-offset-2">
                            <input type="submit" value="Ajouter" class="btn btn-default"/>
                            <a href="{{ path('transport_index') }}" class="btn btn-default">Retourner à la liste</a>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
