{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default"> 
                <div class="panel-heading"> 
                    <span class="panel-title"><h1>Listes des Clients</h1></span> 
                </div> 
                <div class="panel-body"><a href="{{ path('client_new') }}" class="btn btn-default">Ajouter un client</a></div> 
                <table class="table table-bordered"> 
                    <thead> 
                        <tr> 
                            <th class="text-center">Nom</th>
                            <th class="text-center">Actions</th>
                        </tr> 
                    </thead> 
                    <tbody class="text-center">
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.nom }}</td>
                                <td>
                                    <a href="{{ path('client_show', { 'id': client.id }) }}" class="btn btn-default">Voir</a>
                                    <a href="{{ path('client_edit', { 'id': client.id }) }}" class="btn btn-default">Modifier</a>
                                    <a href="{{ path('client_suppression', { 'id': client.id }) }}" class="btn btn-default">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
